@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    height: 100%;
    color: #fff;
    background-color: #32152C;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    font-family: 'Lato', sans-serif;
    width: auto;
}

.container {
    margin-bottom: 1em;
    perspective: 1000px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.container h2 {
    font-size: 2rem;
    margin-top: 2.6rem;
}

.showcase {
    margin-top: 1rem;
    padding: .5em 1em;
    color: #777;
    background: rgba(0, 0, 0, 0.1);
    border-radius: .5em;
    display: flex;
    justify-content: space-between;
    list-style-type: none;
}

.showcase li {
    margin: 0 1em;
    display: flex;
    align-items: center;
    justify-content: center;
}

.showcase li small {
    margin-left: .2em;
}

.screen {
    height: 10em;
    width: 90%;
    margin: 1em 0;
    background-color: #fff;
    transform: rotateX(-50deg);
    box-shadow: 0 .5em 5em rgba(255, 255, 255, 0.3);
}

.row {
    display: flex;
}

.seat {
    margin: .3em;
    width: 2em;
    height: 2em;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background-color: #444451;
    border-top-left-radius: 30%;
    border-top-right-radius: 30%;
}

.seat.selected {
    background-color: #7effb8;
}

.seat.occupied {
    background-color: #49e4ff;
}

.seat:nth-of-type(2) {
    margin-right: 1.5em;
}
.seat:nth-last-of-type(2) {
    margin-left: 1.5em;
}
.seat:not(.occupied):hover {
    cursor: pointer;
    transform: scale(1.1);
}
.showcase .seat:not(.occupied):hover {
    cursor: default;
    transform: scale(1);
}

.price {
    margin-bottom: 2em;
}

.price span {
    color: #49e4ff;
}

.btn {
    padding: .5em 1.2em;
    border: none;
    outline: none;
    color: #444451;
    background-color: #fff;
    border-radius: .5em;
    box-shadow: rgba(255, 255, 255, 0.1) 0px 20px 25px -5px, rgba(255, 255, 255, 0.04) 0px 10px 10px -5px;
}

.btn:hover {
    cursor: pointer;
    transform: scale(1.1);
}

.letter {
    width: .5em;
    margin-left: -3em;
    margin-right: 2em;
    margin-top: 1em;
    color: #777;
}